.todo-header {
  display: flex;
  align-items: baseline;
  height: 50px;
  margin-top: 100px;
}

.todo-header .title {
  margin-right: 50px;
}

.header-list {
  display: flex;
  list-style: none;
}

.header li {
  padding: 10px;
  margin: 0 5px;
  font-style: italic;
  font-weight: bold;
}
